%dt= t("resources.ssh.#{id}")
%div.ssh-command.input-group
  - if output_name == :bastion_ip
    %input.form-control{ id: id, value: ssh_cmd_bastion(outputs), readonly: true }
  - else
    %input.form-control{ id: id, value: ssh_cmd(outputs, output_name, index), readonly: true }
  %div.input-group-button
    %i.eos-icons.eos-18{ data: { toggle: 'tooltip' }, title: t('tooltips.copy'), 'data-initial-hint': t('tooltips.copy'), 'data-copied-hint': t('tooltips.copied') } content_copy
